/* .back {
  background-color: black !important;
} */

.img-fit {
  margin-left: 0.1rem !important;
  /* margin-right: -2.1rem !important;  */
  margin-top: 0 !important;
  margin-bottom: 5 !important;
}

.ontop {
  position: absolute !important;
  left: 500px;
  top: 500px;
}

.adjust {
  margin: 0 auto;
}
