.video-item {
  cursor: pointer;
}

.video-item.item img {
  max-width: 180px;
}

@media only screen and (max-width: 990px) {
  .zoom {
    transition: 1s;
    z-index: 1;
  }
}

.zoom:hover {
  transform: scale(2);
  transition: 1s;
  z-index: 1;
}
.pad {
  padding: 5px;
}

.text-block {
  position: absolute;
  bottom: 20px;
  right: 20px;
  background-color: black;
  color: white;
  padding-left: 20px;
  padding-right: 20px;
  z-index: 1;
}

.container {
  position: relative;
}
